/* navbar */
nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand img {
    width: 70px;
    height: auto;
}

.nav-link .nav-icon:hover {
    color: #6d2932 !important;
    font-family: 'Fredoka', sans-serif;
}

.sosmed {
    display: flex;
    gap: 15px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-link {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: black;
}

.nav-item .nav-link {
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
    line-height: normal;
    color: rgb(105, 104, 104);
}

.nav-item a {
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-item a:hover,
.nav-item a:focus {
    border-bottom: 4px solid #6d2932;
}

@media (max-width: 992px) {
    .navbar-nav,
    .sosmed {
        margin-top: 70px;
    }
}

/* navbar */
